@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}
* {
    box-sizing: border-box;
}
input {
    outline: none;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

.bg-glass {
    @apply bg-white bg-opacity-80 backdrop-blur-md;
}